/**********************/
/*** WEBSITE HEADER ***/
/**********************/
#page-header {
    width: 100%;
    min-height: 100%;
    font-size: 9px;
    padding: 16px 0;
}

#header-main {
    width: 100%;
    display: table;
}

fieldset {
    border: 1px solid #ffffff
}
/*
    Primary Menu
*/
#primary-menu {
    width: 145px;
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
}

#primary-menu #menu-toggle {
    font-size: 3em;
    cursor: pointer;
    transform: scale(0.5,0.5);
}

/*
#primary-menu #menu-toggle.ion-navicon.ion-ios-close-empty:before {
    content:"\f404";
}
*/
#primary-menu ul:before {
    content: "";
    width: 75%;
    max-width: 1600px;
    min-width: 260px;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: block;
    transform: translate3d(-150%,0,0);
    transition: 1s;
    background: #ffffff;
}

#page-header .page-overlay {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

#page-header .page-overlay.visible {
    opacity: 1;
    z-index: 99;
    transition: 1s;
}

#primary-menu ul.menu-visible:before {
    content: "";
    transform: translate3d(0,0,0);
    transition: 1s;
}

/*
#primary-menu .menu-container {
    width: 100%;
    min-height: 100%;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translate3d(-150%,0,0);
    transition: 1s;
    margin: 0;
    padding: 0 50px 15px 15px;
}


#primary-menu .menu-container.menu-visible {
    transform: translate3d(0,0,0);
}
*/

#primary-menu ul {
    transition: 0.5s;
    list-style: none;
    position: fixed;
    top: 32px;
    z-index: -999;
    margin: 0;
    padding: 0;
}

#primary-menu ul.menu-visible {
    z-index: 999;
}

#primary-menu ul > li:first-child {
    margin-bottom: 100px;
}

#primary-menu ul > li {
    transition: 1s;
    transform: translate3d(-1000%,0,0);
    position: relative;
    z-index: 9999;
}

#primary-menu ul.menu-visible > li {
    transition: 1s;    
    transform: translate3d(0,0,0);
}

#primary-menu ul > li > a {
    display: block;
    padding: 11px 0;
}

#primary-menu ul a.icon-menu-close {
    transform: scale(0.6,0.6);
}


/*
    Volume API Logo
*/
#navbar-brand {
    min-width: 180px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*
    Secondary Menu
*/
#secondary-menu {
    width: 145px;
    font-size: 1.9em;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#secondary-menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 8px 0;
}
/**************************/
/*** END WEBSITE HEADER ***/
/**************************/









































/************************/
/*** WEBSITE CONTENTS ***/
/************************/
#page-content {
    font-size: 8px;
    padding-bottom: 125px;
}

/*
    [ BANNER ]
*/
.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.banner h1 {
    text-align: left;
    margin: 0 0 0.813em 0;
}

.subhead {
    font-size: 3.5em;
    text-align: left;
    line-height: 1.6em;
    margin: 0 0 2.2em 0;
}

.subhead.sm {
    width: 78%;
}

/*
    Featured
*/
.featured {
    text-align: center;
    margin: 90px 0 0 0;
}

.featured .col-md-4:first-child {
    width: 35%;
}

.featured .col-md-4:nth-child(2) {
    width: 30%;
}

.featured .col-md-4:last-child {
    width: 33.33333333%;
}

.featured img {
    margin: 0 0 24px 0;
}

.featured h2 {
    margin: 0 0 0.5em 0;
}

/*
    List
*/
ul.list {
    list-style: none;
    padding-left: 21px;
    text-indent: -21px;
    margin: 0 0 1.9em 0;
}

ul.list li {
    position: relative;
    margin: 0 0 0.9em 0;
}

ul.list li:before {
    content: "\2014";
    font-size: 16px;
    position: relative;
    top: -2px;
    left: 0;
    padding-right: 6px;
}

ul.list.primary li {
    margin: 0 0 1.2em 0;
}

/*
    Code Block
*/
.code-block {
    max-height: 460px;
    overflow-y: scroll;
    margin: 20px 0;
    padding: 10px 20px;
}

pre {
    font-family: 'Monaco', monospace!important;
}

.code-block .json-key {
    font-family: 'Monaco', monospace!important;
}

.code-block .json-value,
.code-block .json-string {
    font-family: 'Monaco', monospace!important;
}


/*
    Membership Plan
*/
#membership-plan {
    width: 64%;
    margin: 0 auto 7em auto;
}

#membership-plan h2 {
    margin: 0 0 0.3em 0;
}

#membership-plan .nav-tabs {
    margin: 0 0 4em 0;
    padding: 0;
}

#membership-plan .nav-tabs > li {
    width: 25.75%;
}

#membership-plan .nav-tabs > li#value-plan {
    margin: 0 11.375%;
}

#membership-plan .nav-tabs > li > a {
    font-size: 2.4em;
    text-align: center;
    border-radius: 0.35em;
    margin: 0 0 1em 0;
    padding: 0.6em 1.8em;
}

#membership-plan .plan-details {
    width: 47.5%;
    text-align: center;
    margin: 0 auto;
}

#membership-plan .price {
    font-size: 9.7em;
    display: block;
}

#membership-plan .period {
    font-size: 2.8em;
    display: block;
    margin: 0 0 1.1em 0;
}

#membership-plan footer {
    max-width: 380px;
    text-align: left;
    margin: 0 auto;
}

#membership-plan footer button {
    width: 45%;
    display: inline-block;
    padding: 0.6em 0;
}

#membership-plan footer button:first-child {
    margin-right: 9%;
}

#membership-plan .irs-min,
#membership-plan .irs-max {
    display: none;
}

/*
    Slider Wrap
*/
#slider-wrap {
    position: relative;
    margin: 0 0 10em 0;
}

#slider-wrap #button-plus,
#slider-wrap #button-minus {
    width: 28px;
    height: 28px;
    font-family: 'Monsterrat Bold';
    font-size: 19px;
    text-indent: 0;
    text-align: center;
    line-height: 1em;
    position: absolute;
    top: 11.5px;
    border-radius: 100%;
    padding: 0 0 2px 0;
}

#slider-wrap #button-minus {
    left: 0;
}

#slider-wrap #button-plus {
    right: 0.5px;
}

#slider-wrap .irs-min,
#slider-wrap .irs-max {
    display: none;
}
/*
    Custom Table
*/
.cs-table {
    width: 100%;
    min-width: 720px;
    display: table;
    border-collapse: collapse;
}

.cs-table header .cs-col {
    font-family: 'Monsterrat Bold';
}

.cs-row {
    display: table-row;
}

.cs-col {
    display: table-cell;
    padding: 7px 5px;
}

/*
    Primary Table
*/
.primary-table .cs-row .cs-col:first-child {
    width: 10%;
}

.primary-table .cs-row .cs-col:nth-child(2) {
    width: 33.33333333%;
}

.primary-table .cs-row .cs-col:last-child {
    min-width: 110px;
    text-align: right;
}

.primary-table .cs-row .cs-col:last-child a {
    margin: 0 5px;
}

/*
    Account Info
*/
.account-info #slider-wrap {
    margin: 0 0 4em 0;
}

.account-info .price {
    font-size: 9.7em;
    display: block;
}

.account-info .period {
    font-size: 2.8em;
    display: block;
    margin: 0 0 1.1em 0;
}

/*
    Status Info
*/
.status-info {
    margin: 0 0 9em 0;
}

/*
    Custom Grid
*/
.col-md-6.col-md-offset-3 {
    width: 65%;
    margin-left: 17.5%;
}

/* 
    Custom Input Radio 
*/
.label-radio {
    position: relative;
    padding: 0 0 0 30px;
}

.label-radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
}


.label-radio .radio-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 100%;
}

.label-radio .radio-button:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
    border-radius: 100%;
}

/* 
    Checkbox 
*/
.label-checkbox {
    position: relative;
    padding: 0 0 0 30px;
}

.label-checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.label-checkbox .checkbox-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 100%;
}

.label-checkbox .checkbox-button:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
    border-radius: 100%;
}

/*
    Search Form
*/
.search-form .row > div {
    margin-bottom: 2.6em;
}

.search-form input[type="text"] {
    width: 100%;
}

.search-form textarea {
    width: 100%;
    max-width: 100%;
    height: 360px;
    resize: none;
}

.search-form .btn-login,
.search-form .btn-register {
    width: 170px;
    text-align: center;
    margin: 0 0 1em 15px;
    padding: 0.6em 0;
}

/* Custom Checkbox */
.search-form .cs-checkbox-group {
    cursor: pointer;
    position: relative;
}

.search-form .cs-checkbox-group input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.search-form .cs-checkbox {
    width: 18px;
    height: 18px;
    vertical-align: top;
    line-height: 15px;
    display: inline-block;
    margin: 3px 10px 0 0;
}

.search-form .cs-checkbox-group input:checked ~ .cs-checkbox:after {
    content: "\f3fd";
    font-family: 'Ionicons';
    font-size: 29px;
    position: relative;
    top: -1px;
    left: 0;
}


/* Input File Field */
.jFiler-theme-default .jFiler-input {
    width: 100%;
    height: auto;
    font-family: 'Monsterrat Light';
    font-size: 16px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    margin: 0 0 1.7em 0;
}

.jFiler-theme-default .jFiler-input-button {
    width: 170px;
    height: 100%;
    text-align: center;
    line-height: 1em;
    order: 1;
    float: none;
    transition: all 0.1s ease-out 0s;
    border-radius: 8px;
    margin: 0;
    padding: 0.8em 1.2em;
}

.jFiler-theme-default .jFiler-input-button:hover {
    transition: 0.2s;
}

.jFiler-theme-default .jFiler-input-caption {
    height: 100%;
    float: none;
    order: 2;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 8px;
    text-overflow: ellipsis;
}

.icon-jfi-trash:before {
    content: "\f4c4";
    font-family: 'Ionicons';
    font-size: 26px;
    display: inline-block;
    position: relative;
    top: 5px;
}


/*
    Contact Form
*/
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    margin: 0 0 2.4em 0;
}

.contact-form textarea {
    height: 260px;
    resize: none;
}

/*
    Login Form
*/
.login-form {
    width: 93%;
    margin: 0 auto;
}
.login-form input[type="text"],
.login-form input[type="email"], 
.login-form input[type="password"] {
    width: 100%;
    margin: 0 0 2.4em 0;
}

.login-form .col-md-6 {
    margin-bottom: 8em;
}

/*
    Account Info
*/
.account-info input:disabled {
    margin: -0.2em 0 0 0;
}

.spin {
    -moz-transition: transform 4s;
    -webkit-transition: transform 4s;
    transition: transform 4s;
}





/*
    [ Checklist ]
*/
ul.checklist {
    font-size: 3.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.checklist li {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
}

ul.checklist li span {
    width: 75%;
    display: inline-block;
}

ul.checklist li:before {
    content: "";
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    background-position: -22px -150px;
    margin-right: 1em;
}






/*
    [ Section B ]
*/
.section-b {
    padding: 0;
}

.section-b .cell:first-child img {
    width: 100%;
    max-width: none;
}

.section-b .cell {
    width: 50%;
    vertical-align: middle;
}

.section-b .cell:first-child {
    vertical-align: bottom;
}

.section-b .cell:last-child {
    padding: 5%;
}






/*
    [ Search Panel Top ]
*/
.search-panel-top {
    margin: 0 0 12em 0;
}

.search-panel-top .nav-link {
    font-size: 2em;
    text-decoration: underline;
    display: block;
    margin: 0 0 1.5em 0;
}






/*
    [ Search Panel Filter ]
*/
.search-panel-filter {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 4em;
}

.search-panel-filter .container-fluid {
    min-width: 920px;
    padding-left: 0;
}

.search-panel-filter > .container-fluid > .row {
    margin-bottom: 1em;
}

.search-panel-filter input {
    width: 100%;
}





/*
    [ Primary Sidebar ]
*/
.primary-sidebar {
    font-size: 1.5em;
}

.primary-sidebar .widget-toggle {
    font-size: 1.5em;
    font-weight: bold;
    display: none;
    border-radius: 4px;
    margin: 0 0 2em 0;
    padding: 0.5em;
}

.primary-sidebar .widget-toggle .ion-arrow-down-b {
    float: right;
    margin: 0.3em 0.5em 0 0;
}




.multiselect-container > li > a > label > input[type="checkbox"] {
    margin-bottom: 5px;
    width: 10px !important;
    height: 10px !important;
    }


/*
    [ Tags List ]
*/
ul.tags-list {
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tags-list li {
    margin: 0 0.5em 1em 0;
}

ul.tags-list li:last-child {
    margin-bottom: 0;
}

ul.tags-list .tag {
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em;
}

ul.tags-list.inline li {
    display: inline-block;
}








/*
    [ Panel Result Header ]
*/
.panel-result-header .controls {
    text-align: right;
}






/*
    [ Panel Result Content ]
*/
.panel-result-content article {
    margin: 0 0 8em 0;
}

.panel-result-content h3 {
    margin: 0;
}

.panel-result-content .meta {
    font-size: 12px;
    display: block;
    margin: 0 0 1em 0;
}

.panel-result-content .figures img {
    display: inline-block;
    margin: 0 0.5em 0.75em 0;
}







/*
    [ Panel Result Footer ]
*/
.panel-result-footer .page-options {
    font-size: 12px;
    text-align: right;
    padding: 0.2em 0 0 0;
}

.panel-result-footer .page-options a {
    display: inline-block;
    padding: 0.25em 0.5em;
}
/****************************/
/*** END WEBSITE CONTENTS ***/
/****************************/








.tiny {
    font-size: 1.6em!important;
  }
  .sm {
      font-size: 2em!important;
  }
  h1.sm {
      font-size: 2.5em!important;
  }
  pre.sm {
      font-size: 16px!important;
      height: 150px;
  }
  h3 {
      font-weight: bold;
      margin-top: 0px!important;
      margin-bottom: 0px!important;
  }
  .left{
    text-align: left
  }







































/**********************/
/*** WEBSITE FOOTER ***/
/**********************/
#page-footer {
    font-size: 10px;
    padding: 15px 0;
}



#page-footer .cell {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

#page-footer img {
    max-width: 200px;
    display: inline-block;
}
/**************************/
/*** END WEBSITE FOOTER ***/
/**************************/














